@import "colors.css";

* {
    border: none;
    border-radius: 5px;
    font-family: JetBrainsMono NFP;
    font-size: 18px;
    min-height: 0;

}

window#waybar {
    border-radius: 0px;
    background: @surface;
    color: @on_surface;
}

tooltip {
    background: @surface_container_high;
    border: 2px solid @outline;
    opacity: 1;
}

tooltip label {
    color: @on_surface;
    font-size: 16px;
}

#workspaces {
    background-color: @surface_container_high;
    padding: 0px 5px;
    margin: 5px;
}

#workspaces button {
    padding: 0px 10px;
    color: @tertiary_container;
}

/* #workspaces label {
    font-size: 20;
} */

#workspaces button:hover {
    background: @surface_bright;
}

#workspaces button.active {
    color: @tertiary;
}

#mpris,
#custom-cava {
    background-color: @surface_container_high;
    color: @primary;
}

#custom-cava {
    padding: 0px 5px 0px 10px;
    margin: 5px 0px 5px 5px;

}
#mpris {
    padding: 0px 5px;
    margin: 5px 0px 5px 5px;

}

#custom-screenshot,
#custom-wfrec,
#custom-colorpicker {
    background-color: @surface_container_high;
    color: @tertiary;
}

#custom-wfrec.recording {
    color: @error;
}

#custom-screenshot,
#custom-wfrec,
#custom-colorpicker {
    padding: 0px 5px;
    margin: 5px 0px 5px 0px;
    font-size: 20px;
}

#custom-screenshot {
    padding: 0px 5px 0px 10px;
    margin: 5px 0px 5px 10px;
    border-radius: 5px 0px 0px 5px;
}

#custom-wfrec {
    border-radius: 0px;
}

#custom-colorpicker {
    padding: 0px 10px 0px 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

#window {
    padding: 0px 10px;
    background-color: @surface_container_high;
    color: @on_surface;
    margin: 5px
}

#window label {
    font-size: 16px;
}

window#waybar.empty #window {
    background-color: @surface;
}

#custom-applauncher {
    font-size: 25px;
    padding: 0px 10px;
    margin: 5px;
    background-color: @primary;
    color: @on_primary;
}

#custom-separator.2 {
    font-size: 28px;
    padding: 0px 5px;
    /* background-color:@primary; */
    color: @on_surface;
}

/* waybar niri taskbar */
.niri-taskbar {
    background: none;
    padding: 0px;
    margin: 4px;
}

.niri-taskbar button:hover {
    background: @secondary_container;
}

.niri-taskbar button.focused {
    background: @secondary_container;
}

.niri-taskbar button.urgent {
    background-color: @tertiary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @primary;
        color: @error;
    }
}

#custom-updates {
    padding: 0px 10px;
    margin: 5px;
    background-color: @surface_container_high;
    color: @error;
}

#tray {
    padding: 0px 10px;
    background-color: @surface_container_high;
    margin: 5px;
}

#custom-ddcutil-day,
#custom-ddcutil-night,
#custom-ddcutil-sleep,
#custom-separator.1,
#backlight {
    background-color: @surface_container_high;
    color: @secondary;
}

#custom-ddcutil-day,
#custom-ddcutil-night,
#custom-ddcutil-sleep,
#custom-separator.1 {
    font-size: 20px;
    padding: 0px 5px;
}

#custom-ddcutil-day {
    padding: 0px 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#custom-ddcutil-night {
    border-radius: 0px 5px 5px 0px;
    margin: 8px 2px 8px 0px;
}

#custom-ddcutil-sleep,
#custom-separator.1 {
    border-radius: 0px;
    margin: 8px 0px;
}


#backlight {
    font-size: 22px;
    padding: 0px 5px 0px 0px;
    margin: 8px 0px;
    border-radius: 0px;
}

#backlight-slider {
    background-color: @surface_container_high;
    padding: 0px 7px 0px 10px;
    margin: 8px 0px 8px 10px;
    border-radius: 5px 0px 0px 5px
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    opacity: 0;
    background-color: @surface;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @secondary;
}

#pulseaudio {
    /* font-size:20px; */
    padding: 0px 10px;
    margin: 5px;
}

#pulseaudio-slider {
    padding: 0px 5px;
    margin: 8px 2px 8px 5px;
}

#pulseaudio-slider,
#pulseaudio {
    background-color: @surface_container_high;
    color: @secondary;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    box-shadow: none;
    background: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @surface;
}

#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: @secondary;
}

#network,
#bluetooth {
    background-color: @surface_container_high;
    color: @secondary;
    font-size: 22px;
}

#bluetooth {
    padding: 0px 5px 0px 10px;
    margin: 5px 0px 5px 5px;
    border-radius: 5px 0px 0px 5px;
}

#network {
    padding: 0px 10px 0px 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}


#idle_inhibitor,
#battery,
#power-profiles-daemon {
    background-color: @surface_container_high;
    color: @secondary;
}

#idle_inhibitor {
    padding: 0px 5px 0px 10px;
    margin: 5px 0px 5px 5px;
    border-radius: 5px 0px 0px 5px;
    color: @tertiary;
}

#power-profiles-daemon {
    padding: 0px 8px 0px 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 0px 0px 0px 0px;
    color: @tertiary;
}

#power-profiles-daemon.performance {
    color: @error;
    font-size: 23px;
    padding: 0px 10px 0px 8px;
}

/* #power-profiles-daemon.balanced {
    color: @on_tertiary;
} */

#power-profiles-daemon.power-saver {
    color: #1aa052;

}

#battery {
    padding: 0px 10px 0px 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0px 10px 0px 5px;
    margin: 5px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

#clock {
    background-color: @surface_container_high;
    color: @secondary;
    padding: 0px 10px;
    margin: 5px;
}

#custom-wlogout {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    border-radius: 50%;
    margin: 5px
}

#custom-wlogout,
#custom-reboot,
#custom-lockscreen,
#custom-logout {
    color: @tertiary;
    padding: 0px 10px;
    background-color: @surface_container_high;
}

#custom-lockscreen {
    margin: 8px 2px 8px 0px;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 10px 0px 5px;
}

#custom-reboot {
    margin: 8px 0px 8px 10px;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 5px 0px 10px;
}

#custom-logout {
    margin: 8px 0px 8px 0px;
    border-radius: 0px;
}
